- if @presenter.current_user.training.count <= 1
  %p "Your only client is you! Why not invite some clients you can make money from?"
  = render 'shared/invite_client'

- else
  = render 'users/show/clients'
  %p
    = @presenter.training_count
    out of
    = link_to "#{pluralize(@presenter.user.training.count, 'client')}", training_user_path(@presenter.user)