- @workout ||= @presenter.parent
- @title ||= @presenter.title

= simple_form_for @workout do |f|

  = f.error_notification

  .row-fluid
    .span4= f.input :title, input_html: {size: 50}, placeholder: "The Big Bad Workout"
    .span4= f.input :description, as: :text, input_html: { rows: 5 }, placeholder: "Not for the feint-hearted... heavy, sweaty, meaty, wolfy!"
  
  .row-fluid= render 'shared/exercises'
  
  = f.button :submit, "#{@title}", :class => "btn btn-large btn-primary"