%table.table.span11
  %thead
    %tr#table_blue
      %th #
      %th Exercise
      %th Sets
      %th Reps
      %th
      %th

    %tbody
      - @presenter.exercises.each do |exercise|
        %tr
          %td= exercise.position
          %td= exercise.title.titleize
          %td= best_in_place exercise, :sets, type: :textarea
          %td= best_in_place exercise, :reps, type: :textarea
          %td
          %td= link_to "Remove", booking_exercise_path(@presenter.booking, exercise), id: "exercise_remove", :class => "btn btn-danger", method: :delete, confirm: "Remove exercise?"
      %tr
        %td
        %td= link_to "Add More Exercises", booking_exercises_path(@presenter.booking), :class => "btn btn-primary"
        %td
        %td
        %td
        %td