%tr
  - for relationship in @relationships
  
    = link_to "#{relationship.trainer.username.titleize}", relationship.trainer
   
    = simple_form_for relationship do |f|
      = f.input :accepted, label: "Accept Invite", id: "relationship_accepted"
      = f.input :declined, label: "Decline Invite", id: "relationship_declined"
      = f.submit "Save", :class => "a nice small button"