%ul
  %li
    %h6
      Booking on
      = booking.booking_date
      at
      = booking.booking_time

    = link_to "Create Booking", "#"
    |
    / = link_to "#{booking.workouts}", "#"
    |
    = link_to "#{booking.client}", "#"
    |
    = link_to "Delete Booking", booking_path(booking), :method => :delete, :alert => "Are you sure you want to delete this booking?"