%table#workout_show_exercises
  %thead
    %tr#workout_show_exercises_title
      %th Exercises
      %th
      %th
      %th
    %tr#workout_show_exercises_head
      %th Title
      %th Sets
      %th Reps
      %th
      %th

  - @presenter.exercises.each do |exercise|
    %tbody
      %tr
        %td= exercise.title.titleize
        = simple_form_for exercise, url: booking_exercise_path(@presenter.booking, exercise), method: :put do |f|
          %td= f.input :sets
          %td= f.input :reps
          %td= f.button :submit, :class => "a small button"
          %td= link_to "Remove Exercise", booking_exercise_path(@presenter.booking, exercise), method: :delete, confirm: "Remove exercise?"

%p
  = link_to "Add Exercise", booking_exercises_path(@presenter.booking)