- if @bookings.empty?
  %p
    You have no bookings
    = link_to "add some", root_path

-else
  
  = link_to "Create New Booking", root_path

  %br
  %br

  = will_paginate @bookings
  %br

  = render 'shared/booking'
  = will_paginate @bookings