.row-fluid.span11
  %table.table.table-bordered
    %thead
      %tr
        %th Time
        %th Date
        %th Client
        %th Instructions
    %tbody
      %tr
        %td{:datetime => "#{@presenter.booking.wo_time}"}= @presenter.booking.booking_time
        %td{:datetime => "#{@presenter.booking.wo_date}"}= @presenter.booking.booking_date
        %td= link_to "#{@presenter.client.username.titleize}", user_path(@presenter.client)
        %td= @presenter.booking.instructions

.row-fluid.span11
  = render 'shared/booking_exercises'

.row-fluid.span11
  %br
  
  = link_to "Edit", edit_booking_path(@presenter.booking)
  | 
  = link_to "Delete", booking_path(@presenter.booking), method: "delete", confirm: "Are you sure you want to delete the booking?"