%p{:datetime => "#{@presenter.booking.wo_date}#{@presenter.booking.wo_time}"}=  "On #{@presenter.booking.booking_date} " "at #{@presenter.booking.booking_time}"

%p
  %strong Client:
  = link_to "#{@presenter.client.username.titleize}", user_path(@presenter.client)

%strong= @presenter.workout.title

= render 'shared/booking_exercises'

%br

=link_to "Edit Booking", edit_booking_path(@presenter.booking)

|

= link_to "Delete Booking", booking_path(@presenter.booking), method: :delete, confirm: "Are you sure you want to delete this booking?"