.row-fluid
  %table.span12.table.table-bordered
    %thead
      %tr
        %th Time
        %th Date
        %th Client
        %th Instructions
    %tbody
      %tr
        %td{:datetime => "#{@presenter.booking.wo_time}"}= @presenter.booking.booking_time
        %td{:datetime => "#{@presenter.booking.wo_date}"}= @presenter.booking.booking_date
        %td= link_to "#{@presenter.client.username.titleize}", user_path(@presenter.client)
        %td

.row-fluid
  = render 'shared/booking_exercises'

.row-fluid
  %br
  
  =link_to "Edit Booking", edit_booking_path(@presenter.booking)
  
  |
  
  = link_to "Delete Booking", booking_path(@presenter.booking), method: :delete, confirm: "Are you sure you want to delete this booking?"