%p=  "On #{@booking.booking_date} " "at #{@booking.booking_time}"

%p
  %strong Client:
  = link_to "#{@booking.client.username.titleize}", user_path(@booking.client)

- unless @booking.workout.nil?
  %p
    %strong Workout:
    = link_to "#{@workout.title}", workout_path(@workout)
  = render 'shared/workout_exercises'
- else
  / add workout form here

%br

=link_to "Edit Booking", edit_booking_path(@booking)

|

= link_to "Delete Booking", booking_path(@booking), method: :delete, confirm: "Are you sure you want to delete this booking?"