= simple_form_for @user do |f|

  = f.error_notification

  = f.hidden_field :invitation_token

  = f.input :username

  = f.input :email

  = f.input :password

  = f.input :password_confirmation

  = f.button :submit, @title, :class => "a medium"

%br
%br