.row-fluid

  .offset3
  
    .span3.well
  
      = link_to big_logo, root_path, id: "logo"
  
      %h2#signup Start in minutes
      
      = simple_form_for @user do |f|
      
        = f.error_notification
        
        = f.input :role, as: :hidden, input_html: { value: "trainer_role" }
       
        = f.input :username, :label => false, placeholder: "User name", maxlength: 30, required: true, autofocus: true
       
        = f.input :email, :label => false, placeholder: "Email", required: true
       
        = f.input :password, :label => false, placeholder: "Password", required: true
       
        = f.input :password_confirmation, :label => false, placeholder: "Password confirmation", required: true
       
        = f.button :submit, "Sign Up", :class => "btn btn-large btn-primary"