%table.table.span11
  %tr#table_blue
    %thead
      %th Time
      %th Date
      %th Client
      %th Workout
      %th

  - for booking in @bookings

    %tr{:datetime => "#{booking.wo_date}#{booking.wo_time}"}
      %td= booking.booking_time
      %td= booking.booking_date
      %td= link_to "#{booking.client.username.titleize}", user_path(booking.client)
      %td= booking.workout.title.titleize
      %td
        = link_to "Visit", booking_path(booking)
        |
        = link_to "Edit", edit_booking_path(booking)
        | 
        = link_to "Delete", booking_path(booking), method: "delete", confirm: "Are you sure you want to delete the booking?"