= simple_form_for @booking do |f|

  = f.error_notification

  .row#booking_top_of_form
    .four.columns#booking_form_client
      = f.association :client, collection: current_user.training.collect { |c| [c.username, c.id] }, prompt: "Select client"

      %p
        or
        = link_to "Invite New", new_client_path

    .four.columns#booking_form_workout
      = f.association :workout, collection: current_user.workouts.collect { |w| [w.title, w.id] }, prompt: "Select workout"

      / = simple_fields_for "booking[workout_attributes]" do |workout_form|
      /   = workout_form.input :id, collection: current_user.workouts.collect { |w| [w.title, w.id] }, label: "Workout", prompt: "Select workout"
      /   = workout_form.input :trainer_id, as: :hidden, input_html: { value: current_user.id }

      / = simple_fields_for :workout do |workout_form|
      /   = workout_form.input :id, collection: current_user.workouts, label: "Workout", prompt: "Select workout"

      %p
        or
        = link_to "Create New", new_workout_path

  .row#booking_middle_of_form
    .four.columns#booking_form_date
      = f.input :wo_date, as: :string, input_html: { :class => 'date_picker' }, label: "Date", start_date: Time.now

    .four.columns#booking_form_time
      = f.input :wo_time, :label => "Time", time_separator: ""

  .row#booking_bottom_of_form
    .five.columns
      = f.input :message, as: :text
    
    .four.columns
      = f.button :submit, "#{@title}", id: 'booking_submit', :class => "a small button"