%table.table.span11
  %tr#table_blue
    %thead
      %th Name
      %th Bookings
      %th
      %th

  %tbody  
    - for user in @clients
      %tr
        %td= link_to "#{user.username.titleize}", user_path(user)
        %td= link_to "#{pluralize(user.reverse_bookings.count, 'Booking')}", user_reverse_bookings_path(user)
        %td= link_to "Create Booking", "#"
        %td
          = form_for current_user.relationships.find_by_client_id(user), html: { method: :delete } do |f|
            .actions= f.submit "Remove Client", :class => "none", confirm: "Are you sure you want to remove this client?"