%table.table
  %tr#table_blue
    %thead
      %th Name
      %th Bookings
      %th 

  %tbody  
    - for user in @clients
      %tr
        %td= link_to "#{user.username.titleize}", user_path(user)
        %td= link_to "#{pluralize(user.reverse_bookings.count, 'Booking')}", user_reverse_bookings_path(user)
        %td= link_to "Create Booking", "#"