= hidden_field_tag "[exercise_ids][]", nil

  - @presenter.body_parts.each do |body_part|
  
    %ul
      %li
        = body_part
        - for exercise in Exercise.where(body_part: "#{body_part}")
        %ul        
          %li
          = check_box_tag "[exercise_ids][]", exercise.id, @presenter.parent.exercise_ids.include?(exercise.id), id: dom_id(exercise)
          = label_tag dom_id(exercise), exercise.title
