.row-fluid
  %label.label.span9 Exercises

- n1 = -1
- n2 = -1

.tabbable.tabs-left.row-fluid
  %ul.nav.nav-tabs

    // left hand tabs are the body_parts
    = hidden_field_tag "#{@presenter.model}[exercise_ids][]", nil
    - @presenter.body_parts.each do |body_part|
      - n1 += 1 
      %li= link_to body_part, "#l#{@presenter.alphabet[n1]}", "data-toggle" => "tab"

  // tab content is the exercises associated to the body_part
  .tab-content.well.span7
    - @presenter.body_parts.each do |body_part|
      - n2 += 1 
      .tab-pane{"id" => "l#{@presenter.alphabet[n2]}"}
        - Exercise.where(body_part: "#{body_part}").each do |exercise|
          %label.label.span1{"for" => "exercise_#{exercise.id}"}
            = check_box_tag "#{@presenter.model}[exercise_ids][]", exercise.id, @presenter.parent.exercise_ids.include?(exercise.id), id: dom_id(exercise)
            %h6#workout_exercise_title= exercise.title