%table.table.span11
  %tr#table_blue
    %thead
      %th Name
      %th Bookings
      %th
      %th

  %tbody  
    - for @trainer in @trainers
      %tr
        %td= link_to "#{@trainer.username.titleize}", user_path(@trainer)
        %td= link_to "#{pluralize(@trainer.reverse_bookings.count, 'Booking')}", user_reverse_bookings_path(@trainer)
        %td= link_to "Request Booking", new_booking_path
        %td
          - unless current_user == @trainer
            = render "shared/train_form/get_untrained_by"

/ form_for current_user.reverse_relationships.find_by_trainer_id(user.id), html: { method: :delete } do |f|
/               = f.submit "Remove Trainer", :class => "btn btn-danger", confirm: "Are you sure you want to stop being trained by #{user.username}?"