%table.table.span11
  %tr#table_blue
    %thead
      %th Name
      %th Bookings
      %th
      %th

  %tbody  
    - for user in @trainers
      %tr
        %td= link_to "#{user.username.titleize}", user_path(user)
        %td= link_to "#{pluralize(user.reverse_bookings.count, 'Booking')}", user_reverse_bookings_path(user)
        %td= link_to "Request Booking", new_booking_path
        %td
          = form_for current_user.reverse_relationships.find_by_trainer_id(user), html: { method: :delete } do |f|
            .actions= f.submit "Remove Trainer", :class => "none", confirm: "Are you sure you want to stop being trained by #{user.username}?"