- @user ||= current_user

%table#user_side_table
  %h2= @user.username

  %tr#clients_side
    %td=link_to "Clients: #{@user.training.count}", training_user_path(@user)

  %tr#bookings_side
    %td=link_to "Bookings: #{@user.bookings.count}", bookings_path

  %tr#workouts_side
    %td=link_to "Workouts: #{@user.workouts.count}", workouts_path

  %tr#exercises_side
    %td=link_to "Exercises: #{Exercise.count}", exercises_path