%table.table.span11
  %tr#table_blue
    %thead
      %th From
      %th Details
      %th 
      %th 
      %th 

  - for @booking in @booking_requests

    %tr{:datetime => "#{@booking.wo_date}#{@booking.wo_time}"}
      %td= @booking.sender.username.titleize
      %td= "#{@booking.booking_date} at #{@booking.booking_time}"
      %td= render 'shared/bookings/approve_request'
      %td= render 'shared/bookings/decline_request'
      %td= link_to "Suggest New Time", edit_booking_request_path(@booking)