%ul
  %li
    %h6= link_to "#{exercise.title}", exercise_path(exercise)

    Used in
    = link_to "#{pluralize(exercise.workouts.count, 'Workout')}", exercise_workouts_path(exercise, @workouts)
    |
    = link_to "Add to Workout", new_workout_path

    - if can? :manage, Exercise
      |
      = link_to "Edit", edit_exercise_path(exercise)
      |
      = link_to "Delete", exercise_path(exercise), method: :delete, confirm: "Are you sure you want to delete this exercise?"