%table.table.span11

  %tr
    %th Description
    %td= @exercise.description

  %tr
    %th Body Part
    %td= @exercise.body_part

  %tr
    %th Equipment
    %td= @exercise.equipment

  %tr
    %th Cues
    %td= @exercise.cues

  %tr
    %th Workouts
    %td
      Used in
      - if @exercise.workouts.empty?
        0 workouts
      - else
        = link_to "#{pluralize(@exercise.workouts.count, 'Workout')}", exercise_workouts_path(@exercise, @workouts)

  - if can? :update, @exercise
    |
    = link_to "Edit", edit_exercise_path(@exercise)
    |
    = link_to "Delete", @exercise, method: :destroy