- @user ||= current_user

- if current_user
  .navbar.navbar-fixed-top
    = link_to logo, root_path, id: "logo", :class => "brand"
    .navbar-inner
      .container
        .nav-collapse
          %ul.nav
            %li
              = link_to "Bookings", bookings_path
              %li.divider-vertical
            %li
              = link_to "Clients", training_user_path(@user)
              %li.divider-vertical
            %li
              = link_to "Workouts", workouts_path
              %li.divider-vertical
            %li
              = link_to "Exercises", exercises_path
              %li.divider-vertical
            %li
              = link_to "My Account", edit_user_path(@user)
              %li.divider-vertical
            %li= link_to "Sign Out", signout_path

- else
  = render 'shared/signin'