!!! 5
  
%head
  = render 'layouts/head'

%nav#navigation
  = render 'layouts/navigation'

%body
  
  %section{ :class => "#{controller.controller_name}" }
	
    #main{ :role => 'main' }
      .container
        .row
          .twelve.columns
            .one.columns
            
            - if current_user
              .ten.columns#main_background
                .nine.columns
                  = render 'layouts/flashes'
                  = yield
                .three.columns
                  = render 'shared/user_side'

            - else
              .ten.columns#sign_in_background
                = render 'layouts/flashes'
                = yield
	
  %footer.container
    =render 'layouts/footer'
	
%br
= debug(params) if Rails.env.development?