!!! 5
  
%head= render 'layouts/head'

%body#main_content_yo
  .container-fluid

    - if current_user
      %nav.row-fluid
        .span12= render 'layouts/navigation'

    %section
      .row-fluid
        - if current_user
          .span10= render 'layouts/flashes'
          .span12
            %h2= @title
            = yield
        - else
          = render 'layouts/flashes'
          = yield

  %footer.container-fluid
    =render 'layouts/footer'

%br
= debug(params) if Rails.env.development?