!!! 5
  
%head
  = render 'layouts/head'

%nav#navigation
  = render 'layouts/navigation'

%body
  
  %section#main{ :role => 'main',:class => "#{controller.controller_name}" }
    .container
      .row
        .twelve.columns
          .one.columns
          
          - if current_user
            %section.ten.columns#main_background
              = render 'layouts/flashes'
              .eight.columns
                = yield
              %aside.three.columns#user_side
                = render 'shared/user_side'
      
          - else
            = render 'layouts/flashes'
            .ten.columns#sign_in_background
              = yield
	
  %footer.container
    =render 'layouts/footer'
	
%br
= debug(params) if Rails.env.development?